<%= form_for(@conversion) do |f| %>
  <% if @conversion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conversion.errors.count, "error") %> prohibited this conversion from being saved:</h2>

      <ul>
      <% @conversion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    1
    <%= f.collection_select :measure_a_id, Measure.all, :id, :name, {prompt: 'Select a measure',  :disabled => true } %>
  
  	Contains:
    <%= f.text_field :quantity, size: 10 %>
    
    <%= f.collection_select :measure_b_id, Measure.find(:all, :conditions => ["id != ?", @conversion.measure_a_id]), :id, :name_plural, prompt: 'Select a measure' %>
   
  
    <%= f.submit %>
  </div>
<% end %>
