<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :vendor_id %><br>
    
    <%= f.collection_select :vendor_id, Vendor.all, :id, :name, prompt: 'Select a vendor' %>
  </div>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :invoice_date %><br>
    <%= f.date_select :invoice_date %>
  </div>
  
  


<fieldset id="invoice_ingredients">
	<ul>
		<% if @invoice.invoice_ingredients.length == 0 
		ingredient = InvoiceIngredient.new
		ingredient.invoice_id = @invoice.id
	else
		
		 end %>
		<%= f.fields_for :invoice_ingredients, @invoice.invoice_ingredients do |invoice_ingredient| %>
		  <%= render 'invoice_ingredient_fields', f: invoice_ingredient %>
		<% end %>
		
	</ul>
	
</fieldset>

<div class="actions">
    <%= f.submit 'Update Invoice Header' %>
  </div>
<% end %>