.breadcrumb
  Vendor: 
  = link_to @invoice.vendor.name, @invoice.vendor 
  
  
%h1(style="display:inline")
  = @invoice.number
%span.small
  [
  = link_to 'Edit', edit_vendor_invoice_path(@vendor, @invoice)
  ] 


%p
  %strong Invoice date:
  =@invoice.invoice_date 
.row-fluid.span12.line_items
  %table#invoice_ingredients.table.table-striped
    %tfoot
      %th{:colspan => "9", :style => "text-align:right; font-weight:bold;"} TOTAL
      %th.price= number_to_currency @invoice.total
    %tr.header
      %th Ingredients
      %th(style="width: 10%") Qty Ord
      %th(style="width: 10%") Qty Ship
      %th Vendor No.
      %th Unit
      %th Brand
      %th Desc
      
      %th Pack
      %th.price(style="width: 10%") Price
      %th.price(style="width: 10%") Ext
     
    = render @invoice.invoice_ingredients
  = link_to 'Add New Invoice', new_vendor_invoice_path(@vendor), class: 'btn btn-default'

