.breadcrumb
  Vendor: 
  = link_to @invoice.vendor.name, @invoice.vendor 
  
  
%h1(style="display:inline")
  = @invoice.number
%span.small
  [
  = link_to 'Edit', edit_vendor_invoice_path(@vendor, @invoice)
  ] 


%p
  %strong Invoice date:
  =@invoice.invoice_date 
.row-fluid.span12.line_items
  %table#invoice_ingredients.table.table-striped
    %tfoot
      %tr
        %td{:colspan => "8", :style => "text-align:right;"} SALES TAX
        %td.price= number_to_currency @invoice.sales_tax
        %td
        %td
      %tr
        %th{:colspan => "8", :style => "text-align:right; font-weight:bold;"} TOTAL
        %th.price= number_to_currency @invoice.total
        %th
        %th
    %tr.header
      %th Vendor No.
      %th Ingredients
      
      %th(style="width: 10%") Qty Ship
      
      %th Unit
      %th Brand
      %th Desc
      
      %th Pack
      %th.price(style="width: 10%") Price
      %th.price(style="width: 10%;border-right:1px solid #ccc") Ext
      %th{:colspan=>"2", :style=>"text-align:center;"} Price EA
    = render @invoice.invoice_ingredients
  = link_to 'Add New Invoice', new_vendor_invoice_path(@vendor), class: 'btn btn-default'

