- javascript 'recipes' 
= form_for(@recipe) do |f| 
  - if @recipe.errors.any? 
    %div(id="error_explanation")
      %h2
        = pluralize(@recipe.errors.count, "error") 
        prohibited this recipe from being saved:

      %ul
      - @recipe.errors.full_messages.each do |msg| 
        %li= msg
     
  .row-fluid
    .span8
      .field
        = f.label :title 
        = f.text_field :title
    .span4
      .field
        %label Serving Size 
        = f.text_field :serving_quantity, style: "width: 40px" 
        %small servings @
        = f.text_field :serving_size, style: "width: 40px" 
        = f.collection_select :measure_id, Measure.all, :id, :abbreviation, {prompt: '...'}, {style: "width: 60px", class: 'grid'} 
        %small per serving
        %br
        %small yield / size / unit
  
  .row-fluid
    .span8
      %table#recipe_ingredients.table.table-striped
        %tfoot
         
          %tr
            %td(colspan="5" style="text-align:center;")= link_to_add_association('Add Item', f, :recipe_ingredients, 'data-association-insertion-node' => '#recipe_ingredients',   'data-association-insertion-method' => 'append',    :wrap_object => Proc.new {|recipe_ingredient| recipe_ingredient.build_ingredient; recipe_ingredient}, class: "btn btn-default")
   
        %tr.header
          %th(style="width: 40%") Ingredients
          %th(style="width: 10%") Quantity
          
          %th(style="width: 10%") Unit
          %th(style="width: 20%") Unit Cost
          %th(style="width: 20%") Total Cost
          %th 
          %th  
          
    
          = f.fields_for :recipe_ingredients do |recipe_ingredient| 
            = render 'recipe_ingredient_fields', f: recipe_ingredient 
    .span4
      %table#recipe_recipes.table.table-striped
        %tfoot
          %tr
            %td(colspan="2" style="text-align:center;")= link_to_add_association('Add Recipe', f, :recipes, 'data-association-insertion-node' => '#recipe_recipes',   'data-association-insertion-method' => 'append',    :wrap_object => Proc.new {|recipe| recipe.build_parent; recipe}, class: "btn btn-default")
   
        %tr.header
          %th Recipe
          %th
          
  .actions
    = f.submit 
  