.breadcrumb
  = link_to 'Recipes', recipes_path 
  \:
  %strong= @recipe.title 

%h1(style="display:inline")= @recipe.title
%span.small 
  [
  = link_to 'Edit', edit_recipe_path(@recipe)
  ]  
.clear


.row-fluid
  .span6.line_items
    %table.table.table-striped
      %tfoot
        %th{:colspan => "4", :style => "text-align:right; font-weight:bold;"} TOTAL
        %th.price= number_to_currency @recipe.ingredient_cost, precision: 3 
      %tr.header
        %th Raw Ingredients
        %th Qty
        %th(style="border-left: 3px double #ccc") 
        %th Unit
        %th.price Price
       
     
      = render @recipe.recipe_ingredients
  
 

