%h1 Restaurant Manager

.row-fluid
  .span8
    %h4.inline Kitchen Vendors
    [
    = link_to 'Add New', new_vendor_path
    ]
    .clear
    %table.table.table-striped
      %tr
        %th= sortable "name"
        %th Last Invoice
         
        %th Amount
        %th Date
        %th
        %th= "Account in #{Time.now.year - 1}"
        
    
      - @kitchen.each do |vendor|
        = render vendor
    %h4.inline Bar Vendors
    [
    = link_to 'Add New', new_vendor_path
    ]
    .clear
    %table.table.table-striped
      %tr
        %th= sortable "name"
        %th Last Invoice
         
        %th Amount
        %th Date
        %th
        %th= "Account in #{Time.now.year - 1}"
        - @bar.each do |vendor|
          = render vendor
    

    %br
    
  .span4
    %h3 Recipes
    %ul
      - @recipes.each do |recipe|
        %li= link_to recipe.name, recipe
        