<h1>Restaurant Manager</h1>

%table(style="width: 100%")
  %tr
    %th= sortable "name"
    %th Last Invoice Num (Amount) Date
    %th= "Account in #{Time.now.year}"
    %th
    
  - @vendors.each do |vendor|
    = render vendor
    

%br
= button_to 'New Vendor', new_vendor_path 
