= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field.row-fluid
    .span4= f.label :first_name
    .span8= f.text_field :first_name
  .field.row-fluid
    .span4= f.label :last_name
    .span8= f.text_field :last_name
  .field.row-fluid
    .span4= f.label :email
    .span8= f.text_field :email
  .field.row-fluid
    .span4= f.label :password
    .span8= f.password_field :password
  .field.row-fluid
    .span4= f.label :password_confirmation
    .span8= f.password_field :password_confirmation
  .field.row-fluid
    .span4= f.label :pin
    .span8= f.text_field :pin
  .actions
    = f.submit 'Save'
