.breadcrumb
  %strong= link_to 'Ingredients', ingredients_path 
  \: 
  = @ingredient.name 

%h1(style="display:inline;")
  = @ingredient.name 
= link_to 'Edit', edit_ingredient_path(@ingredient) if @ingredient.custom? 

.clear

Last price:
= number_to_currency @ingredient.last_price

%p
  - if !@ingredient.category.nil?
    %strong Category:
    = link_to @ingredient.category.name, @ingredient.category 

%table
  - @ingredient.invoice_ingredients.each do |i|
    %tr
      %td=i.invoice.number
      %td=i.invoice.vendor.name
      %td=i.invoice.invoice_date
      %td
        =number_to_currency i.price
        \/lb 
          






 

