.breadcrumb
  %strong= link_to 'Ingredients', ingredients_path 
  \: 
  = @ingredient.name 

%h1(style="display:inline;")
  = @ingredient.name 
= link_to 'Edit', edit_ingredient_path(@ingredient) if @ingredient.custom? 

.clear
%p
  - if !@ingredient.category.nil?
    %strong Category:
    = link_to @ingredient.category.name, @ingredient.category 
.row-fluid
  .span6
    %h4 Invoices
  
    %p 
      Last price:
      = number_to_currency @ingredient.last_price
      \/
      = @ingredient.measure.abbreviation if !@ingredient.measure.nil?
      
    %table.table.table-striped
      - @invoice_ingredients.each do |i|
        - if !i.invoice.nil?
          %tr
            %td=i.invoice.invoice_date
            %td
              = link_to i.invoice.number, [i.invoice.vendor, i.invoice]
              =i.invoice.vendor.name
            %td
              =number_to_currency i.price_per_unit
              \/
              =i.measure.abbreviation
          
  .span6
    %h4 Recipes





 

