<%= form_for(@invoice_ingredient) do |f| %>
  <% if @invoice_ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice_ingredient.errors.count, "error") %> prohibited this invoice_ingredient from being saved:</h2>

      <ul>
      <% @invoice_ingredient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :invoice_id %><br>
    <%= f.number_field :invoice_id %>
  </div>
  <div class="field">
    <%= f.label :ingredient_id %><br>
    <%= f.number_field :ingredient_id %>
  </div>
  <div class="field">
    <%= f.label :measure_id %><br>
    <%= f.number_field :measure_id %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :extended %><br>
    <%= f.text_field :extended %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
