%tr.nested-fields
  %td= invoice_ingredient.vendor_number
  %td= link_to invoice_ingredient.ingredient.name, invoice_ingredient.ingredient
    
  
  %td= invoice_ingredient.qty_shipped 
  
  %td= InvoiceIngredient::UNIT_TYPES[invoice_ingredient.unit.to_i]
  %td= invoice_ingredient.brand
  %td= invoice_ingredient.description
  
  %td
    = invoice_ingredient.pack
    
    = invoice_ingredient.measure.abbreviation
    (s)
  %td.price= number_to_currency invoice_ingredient.price
  %td.price(style="border-right:1px solid #ccc")= number_to_currency invoice_ingredient.extended
  %td.price
    =number_to_currency invoice_ingredient.price_per_unit, precision: 3
  %td
    \/
    =invoice_ingredient.measure.abbreviation