<h1>Listing invoice_ingredients</h1>

<table>
  <thead>
    <tr>
      <th>Invoice</th>
      <th>Ingredient</th>
      <th>Measure</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Extended</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @invoice_ingredients.each do |invoice_ingredient| %>
      <tr>
        <td><%= invoice_ingredient.invoice_id %></td>
        <td><%= invoice_ingredient.ingredient_id %></td>
        <td><%= invoice_ingredient.measure_id %></td>
        <td><%= invoice_ingredient.quantity %></td>
        <td><%= invoice_ingredient.price %></td>
        <td><%= invoice_ingredient.extended %></td>
        <td><%= link_to 'Show', invoice_ingredient %></td>
        <td><%= link_to 'Edit', edit_invoice_ingredient_path(invoice_ingredient) %></td>
        <td><%= link_to 'Destroy', invoice_ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice ingredient', new_invoice_ingredient_path %>
