.row-fluid
  .span8
    %h1(style="display:inline;")= @vendor.name
    %span.small
      [
      = link_to 'Edit', edit_vendor_path(@vendor)
      ]
    %h3 
      Invoices
       
    %table.table.table-hover.table-striped
      %thead
        - if @vendor.invoices.length > 0 
          %tr
          %th
          %th Number 
          %th Date
          %th Price
          %th
          %th
        %tbody
          = render(@vendor.invoices)
        %tfoot
          %tr
            %td(colspan="6" style="text-align:center;")= link_to('Add Invoice', new_vendor_invoice_url(@vendor), class: "btn btn-default")
      %br
    
     
    
  .span4
    %span.small= @this_year
    %h1(style="margin-top:0;")= number_to_currency @vendor.total_spend(@this_year)
    %span.small= @this_year - 1
    %h1(style="margin-top:0;")= number_to_currency @vendor.total_spend(@this_year - 1)
    %h5 Address
    = @vendor.address_1 
    
    -if !@vendor.address_2.empty?
      %br
      = @vendor.address_2
    %br
    = @vendor.address_city  
    = "," if !@vendor.address_city.empty? and !@vendor.address_state.empty?
    = @vendor.address_state 
    = @vendor.address_postal_code 
   
      
.row-fluid
  .span8
    
    
        
    .field.row-fluid
      .span12
        
  .span4
      

      
      




