.row-fluid
  .span8
    %h2{:style => "display:inline;"}
      = @vendor.name
     
      %small
        = @vendor.format_address 
      
       
    %small
      [
      = link_to 'Edit', edit_vendor_path(@vendor)
      ]
    %br.clear   
    %h3.inline 
      Invoices
    %small
      [ 
      = link_to 'Add Invoice', new_vendor_invoice_url(@vendor)
      ]
    %br.clear  
    = form_tag vendor_path, :remote => true do 
      = select_tag :month, options_for_select(['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']), style: 'width: 75px'
      = select_tag :year, options_for_select(@years), style: 'width: 75px'
      = link_to 'Filter', vendor_path,  class: 'filter'
    %table.table.table-hover.table-striped#invoices_list
      %thead
        - if @vendor.invoices.length > 0 
          %tr
          %th
          %th= sortable "number"
          %th= sortable "invoice_date", "Date" 
          %th= sortable "total", "Price"
          %th
          %th
        %tbody
          = render(@invoices)
        
      %br

    
  .span4
    .pill
      = @vendor.vendor_type.name if !@vendor.vendor_type.nil?
    %small= @this_year
    %h1(style="margin-top:0;")= number_to_currency @vendor.total_spend(@this_year)
    %small= @this_year - 1
    %h1(style="margin-top:0;")= number_to_currency @vendor.total_spend(@this_year - 1)
    
    %h3 Price List 
    - @letters.each do |l|
      - if l == params[:letter]
        = l
      - else
        = link_to l, vendor_path(@vendor, letter: l)
    %table.table
      - @products.each do |i|
        = render partial:"ingredients/price_list", locals: { i: i} 
        
   
      
      

      

      
      




