<h1>Listing recipe_menu_items</h1>

<table>
  <thead>
    <tr>
      <th>Recipe</th>
      <th>Menu item</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @recipe_menu_items.each do |recipe_menu_item| %>
      <tr>
        <td><%= recipe_menu_item.recipe_id %></td>
        <td><%= recipe_menu_item.menu_item_id %></td>
        <td><%= link_to 'Show', recipe_menu_item %></td>
        <td><%= link_to 'Edit', edit_recipe_menu_item_path(recipe_menu_item) %></td>
        <td><%= link_to 'Destroy', recipe_menu_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe menu item', new_recipe_menu_item_path %>
