<h1>Listing categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= show_nested_category_name(@categories, category, true, " > ") %>
        	<%= link_to '[Add subcategory]', new_category_path(parent_id: category.id)%>
        </td>
        
        <td><%= link_to 'Edit', edit_category_path(category) if category.custom?  %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }  if category.custom? %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>
