%ul
  %li
    = conversion.quantity
    = "#{conversion.measure_b.abbr} (s)" 
    = link_to 'Edit', edit_measure_conversion_path(@measure, conversion) 
    = link_to 'X', [@measure, conversion], method: :delete, data: { confirm: 'Are you sure?' } 
       
    