%h1 Measures


%table.table#measures
  %thead
    %tr
      %th
      %th Name
      %th Abbreviation
      %th{:style => "border-right: 1px solid #ccc;"  } Vol
      %th Wt
      %th{:style => "border-right: 1px solid #ccc;"  } US
      %th Metric
      %th
      
    
  %tbody
    = render @measures
    = form_for(Measure.new, remote: true) do |f|
      %tr
        %td
        %td= f.text_field :name 
        %td= f.text_field :abbreviation
        %td{:style=> "text-align:center;"}= f.radio_button :volume_weight, 0
        %td{:style=> "text-align:center;"}= f.radio_button :volume_weight, 1
        %td{:style=> "text-align:center;"}= f.radio_button :english_metric, 0
        %td{:style=> "text-align:center;"}= f.radio_button :english_metric, 1
        %td
        %td=f.submit  'Create measure', :class => "btn btn-primary" 
      
%br


