<h1>Measures</h1>
<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Abbreviation</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @measures.each do |measure| %>
      <tr>
        <td><%= measure.id %></td>
        <td><%= measure.name %></td>
        <td><%= measure.abbreviation %></td>
        <td><%= link_to 'Show', measure %></td>
        <td><%= link_to 'Edit', edit_measure_path(measure) %></td>
        <td><%= link_to 'Destroy', measure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% measure.conversions.each do |conversion| %>
      <tr>
      	<td>&nbsp;</td>
      	<td><%=conversion.quantity%></td>
      	<td><%=conversion.measure_b.name%>(s)</td>
      	<td><%= link_to 'Edit', edit_measure_conversion_path(:id => conversion, :measure_id => measure) %></td>
        <td><%= link_to 'X', conversion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
      <tr>
      	<td colspan="3" style="text-align:center;"><%= link_to '+ add +', new_measure_conversion_url(measure) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Measure', new_measure_path %>
