%h1 Measures


%table.table#measures
  %thead
    %tr
      %th
      %th Name
      %th Abbreviation
      %th Vol/Wt
      %th Eng/Metric
      %th
      
    
  %tbody
    = render @measures
    = form_for(Measure.new, remote: true) do |f|
      %tr
        %td
        %td= f.text_field :name 
        %td= f.text_field :abbreviation
        %td
        %td
        %td=f.submit 
      
%br

= link_to 'New Measure', new_measure_path, class: "btn btn-primary", role: "button" 


